*{

}

body{
    background-color:#E7FAD0;
}
nav{
    background-color:#A82D69;
    direction:ltr;
    border-top: 20px solid #;
    margin: 65px auto;
    margin-right: 3px;
}


nav a:hover{
    background-color: #73f574;
    color: #E7FAD0;
    border-radius: 18px;
}

.bodynotindex{
    background-color: linear-gradient(25deg,#E7FAD0, transparent);
}

.logo{
    margin:0 auto;
}
.img-logo{
    direction: rtl;
    float: right;
    clear: right;
    border-radius: 60px;
    padding: 0 auto;
    margin: 1% auto;
    margin-right: 15px;
    width: 100px;
    height: 100px;
}

.h1{
    margin-top:55px;
    margin-left: 10px;
}

.dropdown-item:hover{
    background-color:#73F574;
    color:#A82D69
}


/*ASTROLOGIA A DIARIO */
.bodynotindex{
    background-color:linear-gradient (25deg,#E7FAD0,transparent);
}


/* CONTACTO*/

.mb-3{
    width:30%;

}

button{
    float:inline-end;
    margin-left: 15%;
    margin-top: 3%;
}

.dividir{
    margin: 6%;
}

.dividir1{
    margin-top: 6%;
    margin-left:6%;
    margin-right:6%;

}

.h2form{
    margin:2% auto;
}

.form-control{
    background-color: #e6e9ec;
    border: 2px solid #C4397C;
}

.maps{
    border: 3px solid #C4397C;
}
/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #3EA83F; }
.My-Color-Theme-2-hex { color: #91FF92; }
.My-Color-Theme-3-hex { color: #73F574; }
.My-Color-Theme-4-hex { color: #A82D69; }
.My-Color-Theme-5-hex { color: #C4397C; }
.My-Color-Theme-5-hex { color: #E7FAD0; }

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(62, 168, 63, 1); }
.My-Color-Theme-2-rgba { color: rgba(145, 255, 146, 1); }
.My-Color-Theme-3-rgba { color: rgba(115, 245, 116, 1); }
.My-Color-Theme-4-rgba { color: rgba(168, 45, 105, 1); }
.My-Color-Theme-5-rgba { color: rgba(196, 57, 124, 1); }


/* Color Theme Swatches in HSLA */
.My-Color-Theme-1-hsla { color: hsla(120, 46, 45, 1); }
.My-Color-Theme-2-hsla { color: hsla(120, 100, 78, 1); }
.My-Color-Theme-3-hsla { color: hsla(120, 86, 70, 1); }
.My-Color-Theme-4-hsla { color: hsla(330, 57, 41, 1); }
.My-Color-Theme-5-hsla { color: hsla(331, 54, 49, 1); }